.bg{
    background-size: cover;
    opacity: 80%;
    width:100%;
    height: 100vh;
}
.form-container{
    padding: 50px 60px;
    margin-top: 20vh;
    box-shadow: -1px 4px 10px 10px #55bbb6;
}

h6{
    font-family: "Kufi Extended Outline";
    font-size: 22px;
    font-weight: bolder;
    color: black;
}
p{
    font-family: "Lucida Sans Unicode";
    font-size: 18px;
    font-weight: bolder;
    color: black;
}
.form-control{
    background: none;
    border-bottom: 1px solid white;
    font-weight: bolder;
}
.btn{
    border: 2px solid #55bbb6;
    border-radius: 30px;
    color: black;
}
.btn:hover{
    background: #209690;
    color: white;
    font-weight: bolder;
}